body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh; /* Asegura que al menos ocupe toda la altura de la ventana */
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.sobre-mi {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify; /* para justificar el texto */
}

   /*  display: flex;
    flex-direction: column; /* Cambia la dirección a columna 
    align-items: center; /* Centra los elementos horizontalmente 
*/ 





.hobbies-principales {
    padding: 20px;
    background-color: #ddd;
    margin: 20px;
    border-radius: 8px;
}

.contenedor-hobbies {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.hobby {
    text-align: center;
}

.hobby img {
    max-width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 150px; /* Nuevo ancho */
    height: 150px; /* Nueva altura */
    /*height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Para que la imagen cubra el contenedor sin deformarse */
    
}

.otros-hobbies {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedor-otros-hobbies {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 15px; /* Espacio entre los elementos */
}

.otro-hobby {
    background-color: #e0e0e0;
    color: #555;
    padding: 15px 25px; 
    border-radius: 20px;
    text-align: center;
    flex-grow: 1; /* Los elementos crecen para ocupar el espacio disponible */
    min-width: 50px; /* Ancho mínimo para cada elemento */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    /* position: fixed; */
    position: static; /* El footer fluye con el contenido */
    bottom: 0;
    width: 100%;
}